*{
padding: 0;margin: 0;


}
header{
 background: rgba(255, 144, 14, 0.10);
padding: 50px 150px;

}
nav{
display: flex;
justify-content: space-between;
align-items: center;

}
nav ul{
list-style: none;
display: flex;

}
nav li{
margin-right: 30px;
font-size: 1rem;
}

nav a{
text-decoration: none;
color: var(--dark-02, #424242);
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
}
nav h1{
  color: var(--dark-01, #131313);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}



.banner{

max-width: 900px;

text-align: center;
margin: 0 auto;
}

.brand{
  color: var(--dark-01, #131313);
  
  font-family: Work Sans;
  font-size: 50px;
  
  margin-top: 110px;

}
.brand-description{
  color: var(--dark-03, #727272);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-top: 24px;
}
.btn{
  color: #FFF;
  border-radius: 8px;
background: #FF900E;
  font-size: 15px;
  padding: 12px 18px;
  border: none;
  margin-top: 24px;

}
.playboy{
width: 100%;
margin-top: 26px;
}







main{
  max-width: 75%;
  margin: 0 auto;
}

/* teams styles */
.teams-container {
  display: flex;
  align-items: center;   
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}

.teams-title {
  font-size: 2.8rem;
}

.teams-title .quick-list {
  font-weight: 500;
}

.teams-title .text-features {
  color: #FF900E;
  font-weight: 700;
}
.teams-img-container img{
  
    height: 20rem;
    width: 20rem;


}
.facts{
margin-top: 120px;


}
.facts h1{
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.facts p{
  color: var(--dark-03, #727272);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */

}
.facts-item{

display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
margin-top: 70px;

}



.factss{
padding: 50px;
border: 2px solid orange;
border-radius: 5px;
}

.sponser-tag{
text-align: center;
padding-top: 100px;

}
.sp1{
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;


}
.spp{
  color: var(--dark-03, #727272);
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-top: 20px;

}
.sponser-name{
  display: flex;
  justify-content: space-between;
padding-top: 70px;
margin-bottom: 100px;

}
.simg{
  width: 100px;
  height: 30px;
  flex-shrink: 0;

}
.footer{
  width: 80%;
height: 100px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF4E7;
text-align: center;
display: flex;
  justify-content: center;
  align-items:center;

margin: 0 auto;
}
.juwel{
width: 100%;
border-radius: 20px;
box-shadow: 1px 1px 15px black;

}
.hotboy{
background: #bfff0ec9;
padding: 20px;
width: 135px;
border-radius: 20px;
border-left: 8px solid red;
position: relative;
top: -40px;
left: -40px;
}
h3{

  text-align: center;
  margin-bottom: -25px;
  font-size: 30px;
  
}
.dot{
text-align: center;
margin-bottom: 50px;
font-size: 40px;color: #FF900E;
}





/* mobile responsibe secton */
@media screen and (max-width:576px){
  header{
    background: rgba(255, 144, 14, 0.10);
   padding: 0px;
 
   }

nav{
flex-direction: column;

}
nav li{
  margin-right: 20px;
  font-size: 1rem;
  }
  
  nav a{
  text-decoration: none;
  color: var(--dark-02, #424242);
  text-align: center;
  font-family: Work Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  }
  nav h1{
    color: var(--dark-01, #131313);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 10px;
    padding-top: 40px;
  }
  .playboy{
    width: 90%;
    margin-top: 26px;
    }

  .brand{
    color: var(--dark-01, #131313);
    
    font-family: Work Sans;
    font-size: 30px;
    
    margin-top: 70px;
   
  
  }
  .brand-description{
    color: var(--dark-03, #727272);
  text-align: center;
  font-family: Work Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: 20px;
  }
  .btn{
    color: #FFF;
    border-radius: 8px;
  background: #FF900E;
    font-size: 12px;
    padding: 10px 15px;
    border: none;
    margin-top: 20px;
  }
  .teams-container{
flex-direction: column;

  }
  .teams-img-container{
    display: flex;
flex-direction: column;
margin-top: 80px;

  }
  .teams-content {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
  }
  .teams-title {
    font-size: 2rem;
  }
  .text-light-grayy{
font-size: 10px;
font-weight: normal;
padding-top: 40px;
  }
.facts-item{
  flex-direction: column;
  gap: 20px;
}
.sp1{
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;


}
.spp{
  color: var(--dark-03, #727272);
  text-align: center;
  font-family: Work Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;

}
.sponser-name{
flex-direction: column;
gap: 25px;
align-items: center;
justify-content: center;opacity: 0.7;
}


}







